.body{
    margin: 0%;
    padding: 0%;
}
.stage{
    width: 100%;
    display: flex;
    justify-content: center;
}
.images-container{
    width: 700px;
    height: 500px;
    overflow-y: hidden;
}
.images{
    position: relative;
    top: -1500px;
    width: 700px;
    height: 2000px;
}
.images:hover{
    animation: slider 5s linear 0s infinite ;
}
.images img{
    display: block;
    width: 100%;
    height: 500px;
    margin: 0%;
    padding: 0%;
}
@keyframes slider {
    0%{
        top: -1500px;
    }
    15%{
        top: -1500px;
    }
    25%{
        top: -1000px;
    }
    45%{
        top: -1000px;
    }
    55%{
        top: -500px;
    }
    70%{
        top: -500px;
    }
    80%{
        top: 0px;
    }
    100%{
        top: 0px;
    }
}