body{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.navigation-bar{
    margin: 0%;
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.company-name-container{
    margin: 0%;
}
.navigation-container{
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
}
.navigation{
    margin: 0 10px 0 0;
}
.login{
    margin: 0%;
}

@media (max-width: 688px) {
    .navigation-bar{
        display: block;
        text-align: center;
    }
    .company-name-container{
        position: relative;
        top: 23%;
    }
    .navigation-container{
        display: none;
    }
    .login{
        display: none;
    }
}